@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --default-grid-template-columns: 2rem, 1fr, 1fr, 2rem;
}

header {
  position: sticky;
  top: 0px;
  z-index: 999;
  isolation: isolate;
  transform: translateZ(0);
}

@layer components {
  .navigation-link {
    @apply text-black hover:text-gray-700 focus:text-gray-700 text-sm sm:text-xl cursor-pointer bg-[#c39d48] p-2 rounded-md w-full place-self-center break-words text-center hover:underline focus:underline active:bg-yellow-700;
  }

  .text-box {
    @apply bg-[#004481] text-white rounded-md py-2 md:px-2 text-center text-xl md:text-2xl;
  }

  .link-btn {
    @apply inline-block bg-[#c39d48] text-black hover:text-gray-700 focus:text-gray-700 underline rounded-md p-2 break-words text-center text-xl md:text-2xl;
  }

  .dropdown-arrow-menu-enabled {
    @apply -bottom-3 right-1 rotate-180;
  }

  .dropdown-arrow-menu-disabled {
    @apply top-3 right-1;
  }

  .dropdown-button {
    @apply text-2xl md:text-3xl cursor-pointer p-4 bg-gray-100 hover:bg-gray-200 focus:bg-gray-200 font-semibold rounded-lg;
  }

  .video-size {
    @apply w-2xl h-auto;
  }

  .border-and-shadow {
    @apply bg-white shadow-lg rounded-lg border-4 border-gray-100;
  }

  .rotate-180 {
    @apply rotate-[180deg];
  }

  .form-container-size {
    @apply w-screen h-96;
  }
}

.directions-grid {
  display: grid;
  grid-template-columns: var(--default-grid-template-columns);
  grid-template-rows: auto;
  gap: 2rem;
  padding-bottom: 2rem;
  align-items: baseline;

  grid-template-areas:
    "heading heading heading heading"
    ". party-place party-place ."
    ". android android ."
    ". apple apple ."
    ". join join ."
    ". ai-image ai-image ."
    "bus-schedule bus-schedule bus-schedule bus-schedule";
}

.heading-grid-area {
  grid-area: heading;
}

.party-place-grid-area {
  grid-area: party-place;
  place-self: center;
}

.android-grid-area {
  grid-area: android;
}

.apple-grid-area {
  grid-area: apple;
}

.join-grid-area {
  grid-area: join;
}

.ai-image-grid-area {
  grid-area: ai-image;
}

.bus-schedule-grid-area {
  grid-area: bus-schedule;
}

@media (min-width: 768px) {
  .directions-grid {
    grid-template-areas:
      "heading heading heading heading"
      ". party-place party-place ."
      ". android apple ."
      ". join join ."
      ". ai-image ai-image ."
      ". bus-schedule bus-schedule .";
  }
}

.new-item {
  position: relative;
}

.new-item::after {
  position: absolute;
  content: "Nuovo!";
  top: -10px;
  right: -20px;
  color: #ffffff;
  background-image: linear-gradient(
    to bottom,
    #ff0000,
    #f3130f,
    #e6261e,
    #da392d,
    #ce4c3c,
    #c15e4a,
    #b57159
  );
  font-size: 0.875rem;
  font-weight: 600;
  padding-inline: 2px;
  border: dotted 2px #ffffff;
  border-radius: 4px;
  text-align: center;
  animation: emphasis 1500ms infinite;
}

header .new-item::after {
  font-size: 0.5rem;
  top: 0px;
  right: -10px;
}

.davide-figure-grid-area figcaption a::after {
  top: -5px;
  right: -10px;
  font-size: 0.5rem;
}

@keyframes emphasis {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 640px) {
  header .new-item::after {
    top: -5px;
    right: -10px;
  }
}

.credits-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--default-grid-template-columns);
  row-gap: 2rem;
  padding: 2rem;
  grid-template-areas:
    ". credits-heading credits-heading ."
    ". . . ."
    ". davide-figure davide-figure ."
    ". . . ."
    ". simone-figure simone-figure .";
}

@media (min-width: 768px) {
  .credits-grid {
    column-gap: 4rem;
    grid-template-areas:
      ". credits-heading credits-heading ."
      ". davide-figure simone-figure .";
  }
}

.credits-grid > *,
.contributor-container img {
  place-self: center;
}

.credits-heading-grid-area {
  grid-area: credits-heading;
}

.simone-figure-grid-area {
  grid-area: simone-figure;
}

.davide-figure-grid-area {
  grid-area: davide-figure;
}

@layer components {
  .contributor-container {
    @apply w-full flex flex-col gap-y-4;
  }

  .contributor-container figcaption {
    @apply order-1 flex flex-col justify-center items-center gap-y-4 h-full max-h-[26rem];
  }

  .contributor-container figcaption h3,
  .contributor-container figcaption p {
    @apply text-center;
  }

  .contributor-container figcaption h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }

  .contributor-container figcaption p {
    @apply text-xl md:text-2xl break-words;
  }

  .contributor-container img {
    @apply size-full max-w-[300px] bg-white shadow-lg border-4 border-gray-100 rounded-full;
  }
}
